body{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

#products .showDetail:hover {background-color: #464747;
    color: azure;}



#products img{
    height: 250px;
}


#navbarSupportedContent li{
    margin-left: 25px;
}

#searchArea{
    
    margin-left: 700px;
}
nav{
    font-family: fantasy;

}

.nave-username{
    color: rgb(19, 19, 66);
    margin-left: 20px;
}

 .minusbtn:hover{
    color:rgb(19, 17, 17);
    background-color: rgb(228, 228, 228);

}
.plusbtn:hover{
    color:rgb(19, 17, 17);
    background-color: rgb(228, 228, 228);

}
#products p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(168, 54, 9);
}

#addtoCartBtn:hover{
    color:rgb(19, 17, 17);
    background-color: rgb(228, 228, 228);

}





