<br>

<!----Footer--->
<div class="footer" style="border-radius: 20px 20px 0px 0px;">
  <div class="container">
    <div class="row">
      <div class="footer-col-2">
        <h4>ST Store</h4>
        <p> ST Store is serving the public of the world since 2015. This store is in top 10 best ecommerce store in Pakistan</p>
          <h4>
            Follow Us
          </h4>
          <div class="row">
            <div>
              <i class="fab fa-facebook-square fa-2x" style="color: #F2AB4F;"></i>&nbsp;
              <i class="fab fa-instagram-square fa-2x" style="color: #F2AB4F;"></i>&nbsp;
              <i class="fab fa-twitter-square fa-2x" style="color: #F2AB4F;"></i>
            </div>
          </div>
          <p class="mb-1" >Copyright &copy;
            <span id="current-year"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

