
{% extends  'base.html'%}

{% load static %}


<!-- item cards -->
{% block content %}
{% load cart %}


<head>
  <style media="screen">
    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    }

    element.style {
      width: 380px;
    }

    .align-items-stretch {
      align-items: stretch!important;
    }

    .flex-shrink-0 {
      flex-shrink: 0!important;
    }

    .d-flex {
      display: flex!important;
    }
    .flex-column {
      flex-direction: column!important;
    }

    .scrollarea {
      height: 500px;
      overflow: scroll;
    }


    .carousel {
      background: #EEE;
    }

    .carousel-cell {
      width: 15%;
      height: 220px;
      margin-right: 10px;
      /* background: #8C8; */
      border-radius: 5px;
      margin-top: 30px;
      margin-bottom: 130px;
      /* counter-increment: carousel-cell; */
    }

    /* .carousel-cell.is-selected {
      background: #ED2;
    } */

    /* cell number */
    .carousel-cell:before {
      display: block;
      text-align: center;
      /* content: counter(carousel-cell); */
      line-height: 200px;
      font-size: 80px;
      color: white;
    }

    .category_heading{
      font-family:cursive;
      color: white;
      background-color: #48688dd5;
    }

    .carousel-cell img:hover{
      opacity: 0.5;
    }
    #products img:hover{
      opacity: 0.5;
    }
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }
    .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
    }

    #custom-cards{
      background: linear-gradient(to top, #3334a0 0%, #08084d 100%);
    }

    #custom-cards h2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .cell-img img{
      height: 280px;
      width: 400px;
    }

    .banner-img{
      height: 500px;
    }
    

  </style>
</head>


<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active banner-img">
      <img src="{% static 'images/ban1.jpg' %}" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item banner-img">
      <img src="{% static 'images/bn2.jpg' %}" class="d-block w-100" alt="...">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<hr>


<div class="b-example-divider"></div>

<div  class="container-fluid">
  <div class="row">
    <div class="py-4">
      <div class="container-fluid">
        <div class="row ">
          <div class="text-center " >
            <h1 class="text-capitalize font-weight-bold ">Category <i class="fas fa-chevron-down" style="color: #F5D430; "></i></h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }' style="box-shadow: 0 1px 5px rgba(0,0,0,0.3);">
      <div class="carousel-cell category_heading cell-img">
        <a href="/?category=">
        <img class="img-fluid"  src = "{% static 'images\all.jpg' %}" style="box-shadow: 0 1px 5px rgba(0,0,0,0.3); width: 265px; height: auto;">
        </a>
        <div class="card-footer ">
          Select All
        </div>
      </div>
      {% for category in categories %}
      <div class="carousel-cell cell-img">
        <a href="/?category={{category.id}}" >
          <img class="img-fluid shadow-sm" src="{{category.image.url}}" >
        </a>
        <div class="card-footer category_heading">
          <h5>{{category.name}}</h5>
          
        </div>
      </div>

      {% endfor %}
    </div>


    <div class="py-4" style="margin-top: 70px;">
      <div class="container-fluid">
        <div class="row ">
          <div class="text-center ">
            <h1 class="text-capitalize font-weight-bold ">All products <i class="fas fa-chevron-down" style="color: #F5D430;"></i></h1>
          </div>
        </div>
      </div>
    </div>

<!-- Products -->
<div id="products" class="col-lg-9 mx-auto" style="">
  <div class=" row mx-auto item" >
    {% for product in products %}
    <div class="card mx-auto my-3" id="{{product.id}}" style="width: 19rem; box-shadow: 0 1px 5px rgba(0,0,0,0.3);" >
      <span>
        <a href="{% url 'Details' product.id %}">
          <!-- <i class="fa fa-info-circle fa-2x mt-2" style="color: grey;" ></i> -->
          <img class="card-img-top rounded-2 mx-auto my-2" src={{product.image.url}} alt="Card image cap">
        </a>
      </span>

      <div class="card-body text-center" style="color: rgb(65, 60, 60);">
        <h5 class="card-title ">  {{product.name}}</h5>
        <p class="item-price"><b>Price :  <strike>1099</strike>  {{product.price}} Rs   </b></p>
        <p class="card-des" id="ProductDes">{{product.description}}</p>

        <!-- Products size selection-->

        <div class="row" id="radios">
          <form method="post" action="#" class="zoom-cont">
            <fieldset class="r-pill justify-content-center">
              <div class="r-pill__group">
                {% if product.small %}
                <span class="r-pill__item">
                  <input class="form-check-input smallRadio"  type="radio" name="Radio-{{product.id}}"   value="Small-{{product.id}}" >
                  <label class="form-check-label" for="smallRadio"> S</label>
                </span>
                {% endif %}
                {% if product.medium %}
                <span class="r-pill__item">
                  <input class="form-check-input  mediumRadio"  type="radio" name="Radio-{{product.id}}"   value="Medium-{{product.id}}" >
                  <label class="form-check-label" for="mediumRadio"> M </label>
                </span>
                {% endif %}
                {% if product.large %}
                <span class="r-pill__item">
                  <input class="form-check-input largeRadio"  type="radio" name="Radio-{{product.id}}"   value="Large-{{product.id}}" >
                  <label class="form-check-label" for="largeRadio">L </label>
                </span>
                {% endif %}
                {% if product.Xlarge %}
                <span class="r-pill__item">
                  <input class="form-check-input XlargeRadio"  type="radio" name="Radio-{{product.id}}"   value="XLarge-{{product.id}}" >
                  <label class="form-check-label" for="XlargeRadio"> XL </label>
                </span>
                {% endif %}
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Rate Review Button id passed with Url -->
        <div class="row">
          <span class="p-2">
            <a href="{% url 'RateReview' product.id %}">
              <div type="button" id="RRvlaue" class="btn btn-outline-light btn-info btn-circle btn-xl" style="border: rgb(48, 61, 61);"
              data-sid='{{product.id}}' ><img style="width: 40px; height: 35px;" src="{% static 'images/rating.png' %}"> 
            </div>
          </a>
        </span>
      </div>
    </div>

    <!-- Products quantity selection -->
    <div class="card-footer p-1  border-2" >

      <!--sending product obj and cart dictionary to cart.py and returns tru false-->
      {% if product|is_in_cart:request.session.cart %}
      <div class="row text-center" style="">
        <form action="/#{{product.id}}" class="col-sm" id="minusForm" method="POST" style="">
          {% csrf_token %}
          <input hidden type="text" name="productId" value='{{product.id}}'>
          <input hidden type="text" name="cartRemove" value='True'>
          <input type="submit"  value="-" class="btn btn-block btn-outline-dark minusbtn">
        </form>

        <div class="col-sm text-center mt-2" >{{product | cart_quantity:request.session.cart }}</div>
        <form action="/#{{product.id}}" class="col-sm" id="plusForm" method="POST" >
          {% csrf_token %}
          <input hidden type="text" name="productId" value='{{product.id}}'>
          <input type="submit"  value="+" class=" btn btn-block btn-outline-dark plusbtn">
        </form>

      </div>
      <!-- Products add to cart -->
      {% else %}
      <form action="/#{{product.id}}" method="POST"  class="btn-block addToCartForm" style="box-shadow: 0 1px 5px rgba(0,0,0,0.3); background: transparent; border-color: transparent;">
        {% csrf_token %}
        <input hidden type="text" name="productId" value='{{product.id}}'>
        <input type="submit" id="addtoCartBtn"  class="btn btn-outline-dark form-control" style="box-shadow: 0 1px 5px rgba(0,0,0,0.3); background: transparent; border-color: transparent;"  value="Add to cart">
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>


<!--Page number-->
<div class="container-fluid">
  <nav aria-label="..." class="mt-5">
    <ul class="pagination justify-content-center">
      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %}

      {% for i in products.paginator.page_range %}
      {% if i == products.number %}
      <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}
      {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<hr>
<div class="b-example-divider"></div>
          

        </div>
        <div class="row">
              <!--Trending-->

    
<div class="container mt-5 ">
  <div class="row">
      <div class="col-md-12" id="Trending">
        <div class="py-4" style="margin-top: 30px;">
          <div class="container-fluid">
            <div class="row ">
              <div class="text-center ">
                <h1 class="text-capitalize font-weight-bold ">Trending Items <i class="fas fa-chevron-down" style="color: #F5D430;"></i></h1>
              </div>
            </div>
          </div>
        </div>
    
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            {% for n in trending %}
            {% if forloop.counter == 1 %}
              <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" class="active"></li>
              {% else %}
              <li data-target="#myCarousel" data-slide-to={{forloop.counter}}></li>
            {% endif %}
            {% endfor %}
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              
            {% for product in trending  %}
        
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                  <div class="row justify-content-lg-center">

                    {% for p in product  %}

                      <div class=" card col-sm-2 m-2">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="{{p.image.url}}" class="img-fluid" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>{{p.name}}</h4>
                                  
                                  <p class="item-price"><strike>$400.00</strike> <span>{{p.price}}</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                        {%for i in p|get_ratting  %}
                        
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      {% endfor %}
                                      </ul>
                                  </div>
                                  <a href="{% url 'Details' p.id %}" class="btn btn-primary">Buy Item</a>
                                  
                              </div>
                          </div>
                      </div>

                      {% endfor %} 

                  </div>
              </div>

              {% endfor %} 
            

              

          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
          </a>
      </div>
      </div>
  </div>
</div>

        </div>
      </div>

      <div class="b-example-divider"></div>

      <div class="py-4" style="margin-top: 30px;">
        <div class="container-fluid">
          <div class="row ">
            <div class="text-center ">
              <h1 class="text-capitalize font-weight-bold ">Quotes of the day <i class="fas fa-chevron-down" style="color: #F5D430;"></i></h1>
            </div>
          </div>
        </div>
      </div>

<!----Offers--->
<div class="container-fluid offer">
  <div class="row">
      <!-- Custom cards -->
  <div class="container px-4 py-5" >
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-18 shadow-lg" id="custom-cards" >
          <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"Clothes mean nothing until someone lives in them"</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Albert</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id="custom-cards" >
          <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"Fashion is like eating, you shouldn't stick to the same menu."</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Hamza Asif</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" id="custom-cards">
          <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"Elegance is good taste, plus a dash of daring."</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
               
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Shahab</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small></small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>


<div class="b-example-divider"></div>


{% include 'footer.html' %}
{% endblock %}

