
{% extends  'base.html'%}

{% load static %}


<!-- item cards -->
{% block content %}
{% load cart %}


<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/ban1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/ban2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<hr>


    <div  class="container-fluid mt-3">
      
      <div class="row">
       
        <!-- filter-->
          <div class="col-lg-2 mx-auto shadow" style="margin-top: 20px;">
            <div class="row" >
              <div id="category">
                <h2>Products<b> Category</b></h2>
              </div>
               
               <a href="/?category=">
                <div class="col-3">
                  <img class="image img-fluid"  src = "{% static 'images\all.jpg' %}">
                  <div class="overlay">
                      <div class="text">Select All</div>
                  </div>
              </div>
              </a>

              {% for category in categories %}
              <a href="/?category={{category.id}}">
                <div class="col-3">
                  <img class="image"  src = "{{category.image.url}}">
                  <div class="overlay">
                      <div class="text">{{category.name}}</div>
                  </div>
              </div>
              </a>
              {% endfor %}             
            </div>
          </div>

          

<!-- Products -->
<div id="products" class="col-lg-9 mx-auto">
  <div class=" row mx-auto item" style="margin-top: 100px;">
    {% for product in products %}
    <div class="card mx-auto my-3" id="{{product.id}}" style="width: 17rem; " >
      <span>
        <a href="{% url 'Details' product.id %}">
          <!-- <i class="fa fa-info-circle fa-2x mt-2" style="color: grey;" ></i> -->
          <img class="card-img-top rounded-2 mx-auto my-2" src={{product.image.url}} alt="Card image cap">
        </a>
      </span>

      <div class="card-body text-center" style="color: rgb(65, 60, 60);">
        <h5 class="card-title ">  {{product.name}}</h5>
        <p class="item-price"><b>Price :  <strike>1099</strike>  {{product.price}} Rs   </b></p>
        <p class="card-des" id="ProductDes">{{product.description}}</p>

        <!-- Products size selection-->

        <div class="row" id="radios">
          <form method="post" action="#" class="zoom-cont">
            <fieldset class="r-pill justify-content-center">
              <div class="r-pill__group">
                {% if product.small %}
                <span class="r-pill__item">
                  <input class="form-check-input smallRadio"  type="radio" name="Radio-{{product.id}}"   value="Small-{{product.id}}" >
                  <label class="form-check-label" for="smallRadio"> S</label>
                </span>
                {% endif %}
                {% if product.medium %}
                <span class="r-pill__item">
                  <input class="form-check-input  mediumRadio"  type="radio" name="Radio-{{product.id}}"   value="Medium-{{product.id}}" >
                  <label class="form-check-label" for="mediumRadio"> M </label>
                </span>
                {% endif %}
                {% if product.large %}
                <span class="r-pill__item">
                  <input class="form-check-input largeRadio"  type="radio" name="Radio-{{product.id}}"   value="Large-{{product.id}}" >
                  <label class="form-check-label" for="largeRadio">L </label>
                </span>
                {% endif %}
                {% if product.Xlarge %}
                <span class="r-pill__item">
                  <input class="form-check-input XlargeRadio"  type="radio" name="Radio-{{product.id}}"   value="XLarge-{{product.id}}" >
                  <label class="form-check-label" for="XlargeRadio"> XL </label>
                </span>
                {% endif %}
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Rate Review Button id passed with Url -->
        <div class="row">
          <span class="p-2">
            <a href="{% url 'RateReview' product.id %}">
              <div type="button" id="RRvlaue" class="btn btn-outline-info border rounded-3 m-3 RRbtn" style="background: #6ea3d48c;"
              data-sid='{{product.id}}' ><img style="width: 40px; height: 35px;" src="{% static 'images/rating.png' %}"> |
              <img style="width: 40px; height: 35px; margin-left: 3px;" src="{% static 'images/review.png' %}">
            </div>
          </a>
        </span>
      </div>
    </div>

    <!-- Products quantity selection -->
    <div class="card-footer p-1  border-2" >

      <!--sending product obj and cart dictionary to cart.py and returns tru false-->
      {% if product|is_in_cart:request.session.cart %}
      <div class="row text-center" style="padding: 4px;" >
        <form action="/#{{product.id}}" class="col-sm" id="minusForm" method="POST" >
          {% csrf_token %}
          <input hidden type="text" name="productId" value='{{product.id}}'>
          <input hidden type="text" name="cartRemove" value='True'>
          <input type="submit"  value="-" class="btn btn-block btn-outline-dark minusbtn">
        </form>

        <div class="col-sm text-center mt-2">{{product | cart_quantity:request.session.cart }}</div>
        <form action="/#{{product.id}}" class="col-sm" id="plusForm" method="POST" >
          {% csrf_token %}
          <input hidden type="text" name="productId" value='{{product.id}}'>
          <input type="submit"  value="+" class=" btn btn-block btn-outline-dark plusbtn">
        </form>

      </div>
      <!-- Products add to cart -->
      {% else %}
      <form action="/#{{product.id}}" method="POST"  class="btn-block addToCartForm">
        {% csrf_token %}
        <input hidden type="text" name="productId" value='{{product.id}}'>
        <input type="submit" id="addtoCartBtn"  class="btn btn-outline-dark form-control"  value="Add to cart">
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
          
        <!--Page number-->
<div class="container-fluid">
  <nav aria-label="..." class="mt-5">
    <ul class="pagination justify-content-center">
      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %}

      {% for i in products.paginator.page_range %}
      {% if i == products.number %}
      <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}
      {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<hr>
          

        </div>
        <div class="row">
              <!--Trending-->

    
<div class="container mt-5 ">
  <div class="row">
      <div class="col-md-12" id="Trending">
          <h2>Trending <b>Products</b></h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            {% for n in trending %}
            {% if forloop.counter == 1 %}
              <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" class="active"></li>
              {% else %}
              <li data-target="#myCarousel" data-slide-to={{forloop.counter}}></li>
            {% endif %}
            {% endfor %}
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              
            {% for product in trending  %}
        
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                  <div class="row justify-content-lg-center">

                    {% for p in product  %}

                      <div class=" card col-sm-2 m-2">
                          <div class="thumb-wrapper">
                              <div class="img-box">
                                  <img src="{{p.image.url}}" class="img-fluid" alt="">
                              </div>
                              <div class="thumb-content">
                                  <h4>{{p.name}}</h4>
                                  
                                  <p class="item-price"><strike>$400.00</strike> <span>{{p.price}}</span></p>
                                  <div class="star-rating">
                                      <ul class="list-inline">
                                        {%for i in p|get_ratting  %}
                        
                                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                      {% endfor %}
                                      </ul>
                                  </div>
                                  <a href="#" class="btn btn-primary">Buy Item</a>
                              </div>
                          </div>
                      </div>

                      {% endfor %} 

                  </div>
              </div>

              {% endfor %} 
            

              

          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
          </a>
      </div>
      </div>
  </div>
</div>

  

        </div>
      </div>
<!----Offers--->
<div class="offer">
  <div class="row">
      <div class="row">
          <div class="col-2">
              <img src="{% static 'images/exclusive.png'%}" class="offer-img">
          </div>
          <div class="col-2">
              <h3>Exclusive Available on MyShop</h3>
              <h1>Smart Band 4</h1>
              <small style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">BLOOD OXYGEN SATURATION MONITOR: 
                  With Amazfit Band 5 you can measure your blood oxygen saturation and understand your physical state with OxygenBeats. Ideal during high-intensity
                   workouts and sports such as marathons 
                   and gym workouts.<br></small>
                   <br>
              <a href="">
                <button class="BuyNow">
                 Buy Now &#8594;
                </button> </a>
          
          </div>
      </div>    
  </div>
</div>

<!----Brands--->
<div class="brands">
  <div class="container-fluid">
      <div class="row" style="display: flex; justify-content: center;">
          <div class="col-5">
              <img src=" {% static 'images/logo-coca-cola.png'%}">
          </div>
          <div class="col-5">
              <img src=" {% static 'images/logo-godrej.png'%}">
          </div>
          <div class="col-5">
              <img src="{% static 'images/logo-paypal.png'%}">
          </div>
          <div class="col-5">
              <img src=" {% static 'images/logo-oppo.png'%}">
          </div>
          <div class="col-5">
              <img src=" {% static 'images/logo-philips.png '%}">
          </div>
      </div>
  </div>
</div>





{% endblock %}

