{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
     
      <div class="col-lg-9 mx-auto shadow " style=" background-color: rgba(211, 213, 216, 0.719); border-radius: 13px;">
        <div class=" row mx-auto" ><br>
            <h2 class="text-uppercase text-center" style="letter-spacing: .2em;">Comment your review</h2>
              <div class="row text-center" >
                <div class="col-12">
                  <div class="rate-form1" >
                    <form class="rate-form" action="">

                      <input  id="PID" hidden value='{{ProductID}}'>

                      <button type="button" class="fa fa-star my-btn" id="firstStar" data-index="1"></button>
                      <button type="button" class="fa fa-star my-btn" id="secondStar" data-index="2"></button>
                      <button type="button" class="fa fa-star my-btn" id="thirdStar" data-index="3"></button>
                      <button type="button" class="fa fa-star my-btn" id="fourthStar" data-index="4"></button>
                      <button type="button" class="fa fa-star my-btn" id="fifthStar" data-index="5"></button>
                    </form>
                    <!-- <form1 action="#">
                      <header></header>
                    </form1> -->
                  </div>
                </div>
                <div class="col-5" style="transition: all 0.2s ease;">
                  <div id="confirm-box" ></div>
                </div>
              </div>
            </p>
           

            <!--Get Area--->
            <div class="p-2 bg-white messages" style="margin-bottom: 15%; border-radius: 10px;" id="MessageArea">

              {% if Comments %}

              {% for comt in Comments %}

                <div class="Message border border-secondaryrounded p-2 mb-2" >

                      <div class="ml-2">
                        <span class="d-block font-weight-bold name" style=" font-size: 20px; color: rgb(12, 14, 116);"><b>{{comt.customerName}}</b></span>
                        <span class="date text-black-50" >Shared publicly - {{comt.date}}</span>
                      </div>
                  
                  <div class="mt-2">
                      <p class="comment-text" style=" font-size: 14px; color: rgb(8, 11, 51); font-family: sans-serif;">{{comt.comment}}</p>
                  </div>
                  </div>

                  {% endfor %}

                  {% else %}

                  <h3 >Be the first One to Review :)</h3>

                  {% endif %}
                  
                 <!--Post Area--->

        </div> 
        <div class="bg-light p-3 rounded-2" style="width: 73%; position: fixed; bottom: 0; " >
          <div>
              <textarea class="ml-1 shadow-none textarea w-100 rounded p-2" placeholder="Enter Message...."  id=commentTxt ></textarea>

          </div>
          <form action="#" method="POST">
              {% csrf_token %}
              <div class="mt-2  text-right">
                  <input  id="PID" hidden value='{{ProductID}}'>
                  <button class="btn btn-primary btn-sm shadow-none" id="AddComment" type="button">Post comment</button>
              </div>

          </form>
          
      </div>   
      </div>
    </div>
  </div>

</div>

{% endblock %}

